In [3]:
import pandas as pd

In [9]:
# read data from file
file_name = 'data/dados_populacao.json'

raw_data = pd.read_json(file_name, encoding='utf-8')

,anos_10_a_19,anos_1_a_4,anos_20_a_24,anos_25_49,anos_5,anos_50_a_59,anos_60_a_64,anos_65_a_69,anos_6_a_9,anos_acima_70,...,mulheres_anos_5,mulheres_anos_50_a_59,mulheres_anos_60_a_64,mulheres_anos_65_a_69,mulheres_anos_6_a_9,mulheres_anos_acima_70,mulheres_menos_1_ano,mulheres_residentes,residentes,year
0,159,43,96,361,13,97,31,18,63,37,...,5,54,19,8,39,24,4,490,925,2015
1,102,37,79,564,10,134,47,29,33,50,...,4,78,25,19,14,38,7,594,1096,2015
2,63,18,34,172,3,50,18,13,16,24,...,2,30,9,5,7,13,3,212,416,2015
3,76,19,41,215,2,55,22,8,24,20,...,1,31,11,4,10,11,1,246,485,2015
4,77,19,67,245,3,83,34,26,24,65,...,1,39,22,16,12,43,3,338,648,2015

In [10]:
# Get all columns names
raw_data.columns.values

array(['anos_10_a_19', 'anos_1_a_4', 'anos_20_a_24', 'anos_25_49',
       'anos_5', 'anos_50_a_59', 'anos_60_a_64', 'anos_65_a_69',
       'anos_6_a_9', 'anos_acima_70', 'centro_saude', 'codigo_micro_area',
       'distrito_sanitario', 'homens_anos_10_a_19', 'homens_anos_1_a_4',
       'homens_anos_20_a_24', 'homens_anos_25_49', 'homens_anos_5',
       'homens_anos_50_a_59', 'homens_anos_60_a_64', 'homens_anos_65_a_69',
       'homens_anos_6_a_9', 'homens_anos_acima_70', 'homens_menos_1_ano',
       'homens_residentes', 'menos_1_ano', 'mulheres_anos_10_a_19',
       'mulheres_anos_1_a_4', 'mulheres_anos_20_a_24',
       'mulheres_anos_25_49', 'mulheres_anos_5', 'mulheres_anos_50_a_59',
       'mulheres_anos_60_a_64', 'mulheres_anos_65_a_69',
       'mulheres_anos_6_a_9', 'mulheres_anos_acima_70',
       'mulheres_menos_1_ano', 'mulheres_residentes', 'residentes', 'year'], dtype=object)

In [21]:
# Show values
raw_data.distrito_sanitario.unique()

array(['Continente', 'Leste', 'Sul', 'Centro', 'Norte'], dtype=object)

In [17]:
# Convert all centro_saude to upper case
raw_data.centro_saude = raw_data.centro_saude.str.upper()

In [19]:
# Show all centro de saude
raw_data.centro_saude.unique()

array(['ABRAÃO', 'BARRA DA LAGOA', 'BALNEÁRIO', 'ARMAÇÃO', 'ALTO RIBEIRÃO',
       'AGRONÔMICA', 'CANASVIEIRAS', 'CAMPECHE', 'CAIEIRA DA BARRA DO SUL',
       'CACHOEIRA DO BOM JESUS', 'CENTRO', 'CARIANOS', 'CAPOEIRAS',
       'CANTO DA LAGOA', 'COSTA DA LAGOA', 'CORREGO GRANDE', 'COQUEIROS',
       'COLONINHA', 'FAZENDA DO RIO TAVARES', 'ESTREITO',
       'COSTEIRA DO PIRAJUBAÉ', 'ITACORUBI', 'INGLESES',
       'LAGOA DA CONCEICÃO', 'JURERE', 'JOÃO PAULO', 'JARDIM ATLÂNTICO',
       'MONTE CRISTO', 'PANTANAL', 'NOVO CONTINENTE', 'MORRO DAS PEDRAS',
       'MONTE SERRAT', 'SANTINHO', 'SACO GRANDE', 'SACO DOS LIMÕES',
       'TRINDADE', 'TAPERA', 'SAPÉ', 'SANTO ANTONIO DE LISBOA',
       'VARGEM PEQUENA', 'VARGEM GRANDE', 'VILA APARECIDA',
       'SANTO ANTÔNIO DE LISBOA', 'RIO VERMELHO', 'RIO TAVARES',
       'RIBEIRÃO DA ILHA', 'RATONES', 'PRAINHA', 'PONTA DAS CANAS',
       'PÂNTANO DO SUL', 'PANTANO DO SUL', 'MORRO DA CAIXA',
       'LAGOA DA CONCEIÇÃO', 'JURERÊ', 'COSTERIA DO PIRAJUBAÉ',
       'CÓRREGO GRANDE', 'CONTINENTE', 'CAEIRA DA BARRA DO SUL'], dtype=object)

In [28]:
centros_saude = list(raw_data.centro_saude.unique())
centros_saude.sort()
len(centros_saude)

58

In [29]:
for centro in centros_saude:
    print(centro)

ABRAÃO
AGRONÔMICA
ALTO RIBEIRÃO
ARMAÇÃO
BALNEÁRIO
BARRA DA LAGOA
CACHOEIRA DO BOM JESUS
CAEIRA DA BARRA DO SUL
CAIEIRA DA BARRA DO SUL
CAMPECHE
CANASVIEIRAS
CANTO DA LAGOA
CAPOEIRAS
CARIANOS
CENTRO
COLONINHA
CONTINENTE
COQUEIROS
CORREGO GRANDE
COSTA DA LAGOA
COSTEIRA DO PIRAJUBAÉ
COSTERIA DO PIRAJUBAÉ
CÓRREGO GRANDE
ESTREITO
FAZENDA DO RIO TAVARES
INGLESES
ITACORUBI
JARDIM ATLÂNTICO
JOÃO PAULO
JURERE
JURERÊ
LAGOA DA CONCEICÃO
LAGOA DA CONCEIÇÃO
MONTE CRISTO
MONTE SERRAT
MORRO DA CAIXA
MORRO DAS PEDRAS
NOVO CONTINENTE
PANTANAL
PANTANO DO SUL
PONTA DAS CANAS
PRAINHA
PÂNTANO DO SUL
RATONES
RIBEIRÃO DA ILHA
RIO TAVARES
RIO VERMELHO
SACO DOS LIMÕES
SACO GRANDE
SANTINHO
SANTO ANTONIO DE LISBOA
SANTO ANTÔNIO DE LISBOA
SAPÉ
TAPERA
TRINDADE
VARGEM GRANDE
VARGEM PEQUENA
VILA APARECIDA

In [ ]:
# Replace CAEIRA DA BARRA DO SUL por CAIEIRA DA BARRA DO SUL

In [ ]:
# Replace CORREGO GRANDE por CÓRREGO GRANDE

In [ ]:
# Replace COSTERIA DO PIRAJUBAÉ por COSTEIRA DO PIRAJUBAÉ

In [ ]:
# Replace JURERE por JURERÊ

In [ ]:
# Replace LAGOA DA CONCEICÃO por LAGOA DA CONCEIÇÃO

In [ ]:
# Replace PANTANO DO SUL por PÂNTANO DO SUL

In [ ]:
# Replace SANTO ANTONIO DE LISBOA por SANTO ANTÔNIO DE LISBOA